@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-inter;
	}

	.lt-spacing {
		letter-spacing: 0.4em;
	}

	.border-insta::before {
		content: '';
		height: 8px;
		left: 0;
		position: absolute;
		top: -8px;
		width: 100%;
		background: linear-gradient(45deg, #fdc468, #df4996);
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
}
